# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
db.sqlite3
*.sqlite3
staticfiles/
media/
local_settings.py

# IDE
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
